<!-- <footer class="text-center mt-4">
    <p><h5>&copy;2024 AetherMail. All rights reserved.</h5></p>
  </footer> -->
  
  <footer style="color: rgb(121, 38, 69); padding: 20px 0; font-size: 14px;">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4">
                <h4>About AetherMail</h4>
                <p>
                    AetherMail is your cozy and innovative solution for email management. 
                    Stay spam-free and organized effortlessly with our AI-powered tools.
                </p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2">
                <h4>Quick Links</h4>
                <ul style="list-style-type: none; padding: 0;">
                    <li><a href="/" style="color: rgb(121, 38, 69); text-decoration: none;">Home</a></li>
                    <li><a href="/about" style="color: rgb(121, 38, 69); text-decoration: none;">About</a></li>
                    <li><a href="/contact" style="color: rgb(121, 38, 69); text-decoration: none;">Contact</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-3">
                <h4>Contact Us</h4>
                <p>
                    <i class="fas fa-envelope"></i> support@aethermail.com<br>
                    <i class="fas fa-phone"></i> +123 456 7890<br>
                    <i class="fas fa-map-marker-alt"></i> 123 AetherMail Lane, Innovation City
                </p>
            </div>

            <!-- Social Media -->
            <div class="col-md-3">
              <h4>Follow Us</h4>
              <a href="https://www.facebook.com/" target="_blank" style="color: rgb(121, 38, 69); margin-right: 10px;">
                  <i class="fab fa-facebook-f"></i> Facebook
              </a><br>
              <a href="https://twitter.com/" target="_blank" style="color: rgb(121, 38, 69); margin-right: 10px;">
                  <i class="fab fa-twitter"></i> Twitter
              </a><br>
              <a href="https://www.instagram.com/" target="_blank" style="color: rgb(121, 38, 69); margin-right: 10px;">
                  <i class="fab fa-instagram"></i> Instagram
              </a><br>
              <a href="https://www.linkedin.com/" target="_blank" style="color: rgb(121, 38, 69);">
                  <i class="fab fa-linkedin-in"></i> LinkedIn
              </a>
          </div>
        </div>

        <div class="row">
            <div class="col-12 text-center" style="margin-top: 20px;">
                <p>© 2024 AetherMail. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>


  